@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    box-sizing: border-box;
    --width-input-border: 2px;
    --radius-inputs: 0.25em;
    --padding-inputs: 0.75em;
    --opacity-input-disabled: 0.5;
    --width-inputs: 250px;
  --width-textarea: 450px;
  --height-textarea: 250px;
  --co-body-accent: #07c;
  --co-textfld-bg: #ffffff;
  --co-textfld-border: #333;
  --co-textfld-active-border: #444;
  --co-textfld-focus-border: var(--co-body-accent);
  --margin-label: 0.5em;
  --background-logo:rgba(207, 255, 243, 0.6);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body{
    display: flex;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background: url(/fightclub.webp);
  }

  div, button{
    font-family: "Bebas Neue", sans-serif;
  }

   div.half-left{
    background: url("ocean.jpg") no-repeat center center / cover;
    width: 30vw;
    height: 100vh;
    position: fixed;
   }

   div.half-right{
    width: 70vw;
    color: #ffffff;
    height: 100vh;
    margin-left: 30vw;
    min-height: 100%;
  }

   .container-logo{
    height: 300px ;
    margin-top: 200px;
    background-color: var(--background-logo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
   }

   .logo{
object-fit: cover;
display: block;
width: auto;
height: auto;  
max-width:400px ;
max-height:500px ;
padding: 20px;
position: absolute;
bottom: 0;
   }

   .text-logo{
    font-size: 3em;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: #0d8eff 1px 0 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
   }

   h1{
    margin:0;
    text-align: center;
    font-size: 4rem;
   }
   h4{
    padding: 0 2rem 0  2rem;
    text-align: center;
    font-size: 2rem;
   }
   .section-top{
color: #000000;
text-shadow: rgb(255, 255, 255) 1px 0 10px;
   }
   .section-mid{
text-shadow: rgb(0, 0, 0) 1px 0 10px;
font-size: 2rem;
   }

      button.submit-form{
        background-color: #407dc8;
        border: none;
        color: rgb(255, 255, 255);
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 20px;
        font-size: 2rem;
      }

      input {
        padding: var(--padding-inputs);
        border: var(--width-input-border) solid;
        border-radius: var(--radius-inputs);
        width: var(--width-inputs);
        max-width: 100%;
        accent-color: var(--co-body-accent);
        border: var(--width-input-border) solid var(--co-textfld-border);
        background-color: var(--co-textfld-bg);
        margin:0 0 20px;
        &:focus {
          outline: 0;
      }
      #repeat-password{
        margin-bottom: 0;
      }
    &:hover,
    &:active {
    border-color: var(--co-textfld-active-border);
    }
    &:focus {
    border-color: var(--co-textfld-focus-border);
    }
    }


    label {
        cursor: pointer;
        display: block;
      }
      
      div.box-form{
        display: flex;
        flex-direction: row;
         align-items: center; 
        justify-content: center; 
      flex-wrap: wrap;
      padding-top: 20px;
      
      background-color: rgba(54, 3, 112, 0.2);


       
      }

      .submit-container{
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input:invalid {
        border: 3px solid red;
    }
    
    input:valid {
        border: medium solid darkgreen;
    }
    input:placeholder-shown {
        border: thin solid black;
    }

    .names{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
      width: 100%;
    }

      @media screen and (max-width : 480px) {
      .text-logo{
        font-size: 2rem;
      }
      .logo{
        max-width: 250px;
        max-height: 250px;
        bottom: 25px;
      }
      .container-logo{
        height: 220px;
      }
      div.half-left{
        height:100%;
      }
      input{
        margin: 0 1rem  1rem 0;
        width:190px
      }
      .names{
        gap:10px
      }
    }

